<p>Total Items Carrito: {{ myShoppingCart.length }}</p>

<p>Valor Total Acumulado: ${{ total }}</p>

<button
  (click)="createNewProduct()"
  class="btn btn-info"
  style="background-color: greenyellow"
>
  Agregar Producto
</button>

<div class="products--grid">
  <app-product
    *ngFor="let p of productos"
    [producto]="p"
    (addedProduct)="onAddToShopping($event)"
    (showDetail)="onShowDetail($event)"
  >
  </app-product>
</div>
<div class="details" [class.active]="showProductDetail">
  <div *ngIf="productChosen">
    <button (click)="toggleDetails()">Cerrar</button>
    <div class="content-detail">
      <h1>{{ productChosen.title }}</h1>
      <swiper [slidesPerView]="1">
        <ng-template swiperSlide>
          <img class="img_detail" [src]="productChosen.image" alt="" />
        </ng-template>
      </swiper>
      <p>{{ productChosen.description }}</p>
    </div>
  </div>
</div>
