<!-- <p>Total Items Carrito: {{ myShoppingCart.length }}</p>

<p>Valor Total Acumulado: ${{ total }}</p> -->

<!-- <button
  (click)="createNewProduct()"
  class="btn btn-info"
  style="background-color: greenyellow"
>
  Agregar Producto
</button> -->

<div class="products--grid">
  <app-product
    *ngFor="let p of productos"
    [producto]="p"
    (addedProduct)="onAddToShopping($event)"
    (showDetail)="onShowDetail($event)"
  >
  </app-product>
</div>
<button class="btn btn-primary" (click)="onLoadMore()">Load More</button>
<div class="details" [class.active]="showProductDetail">
  <div *ngIf="productChosen">
    <button (click)="toggleDetails()">Cerrar</button>
    <div class="content-detail">
      <h1>{{ productChosen.title }}</h1>
      <swiper [slidesPerView]="1">
        <ng-template swiperSlide>
          <img class="img_detail" [src]="productChosen.images[0]" alt="" />
        </ng-template>
      </swiper>
      <p>{{ productChosen.description }}</p>
      <button class="btn btn-info" (click)="updateProduct()">Editar</button>
      <button class="btn btn-danger" (click)="deleteProduct()">Eliminar</button>
    </div>
  </div>
</div>
