<div class="card">
  <div>
    <h2>{{ producto.title }}</h2>
    <img [src]="producto.images[0]" />
    <p>Precio: {{ producto.price | currency: "USD" }}</p>
    <p *ngIf="producto.taxes !== undefined">Taxes: {{producto.taxes | currency: "USD"}}</p>
    <p appHighlight>Descripcion: {{ producto.description }}</p>
  </div>
  <button class="btn btn-secondary" (click)="viewDetail()">Ver Detalle</button>
  <button class="btn btn-primary" (click)="onAddToCart()">Agregar</button>
</div>

<!-- <app-img *ngIf="product.images.length > 0" [img]="product.images[0]"></app-img>
<h2 class="title">{{ product.price | currency }}</h2>
<p>{{ product.title }}</p>
<p class="category">{{ product.category?.name }}</p>
<button (click)="onShowDetail()">Ver detalle</button>
<button (click)="onAddToCart()">Add cart</button> -->